.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url("../img/bg8.png") center center no-repeat;
  background-size: cover; }

.footer {
  display: flex;
  justify-content: center;
  background: url("../img/footer.png") center center no-repeat;
  background-size: cover; }

.footer__container {
  display: flex;
  justify-content: space-between;
  width: 940px; }

.footer__adress {
  color: white;
  margin-bottom: 5px; }

.footer__contact {
  padding: 6px 0;
  font-size: 14px; }

.footer__phone {
  color: #e45028;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 900; }


.socials__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: rem(20px) 0;

}

.socials__icon {
    width:rem(20px);
    height: rem(20px);
    fill: #fff;
    opacity: 0.3;
    margin-left: rem(20px);

    /* Почему если убирать так margin, у всех элементов он убирается?
    &:first-child {
        margin-left: rem(0px);
    }
    */

    &:hover {
        opacity: 1;
    }

}





.social__item {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 18px; }

.social__item-vk {
  background: url("../img/vk.svg") center center no-repeat;
  background-size: cover; }

.social__item-fb {
  background: url("../img/fb.svg") center center no-repeat;
  background-size: cover; }

.social__item-inst {
  background: url("../img/inst.svg") center center no-repeat;
  background-size: cover; }

.social__item-twitter {
  background: url("../img/twitter.svg") center center no-repeat;
  background-size: cover; }

.social__list {
  padding: 14px 0; }
