.team {
  background: url('../img/bg4.png') center center no-repeat;
  background-size: cover;
  position: relative;
}

.team__section {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background: rgba($dark, .93);
  display: flex;
  justify-content: center;
}

.team__content {
  width: 70%;
}

.team-acco {
  padding: rem(66px) rem(9px);
  line-height: 1.7;
}

.team-acco__title {
  font-size: rem(14px);
  color: #fff;
  margin-bottom: rem(10px);
  display: flex;
  align-items: center;
  font-family: 'Gagalin';

  &:before {
    content: "";
    width: 0;
    height: 0;
    border: rem(9px) solid transparent;
    border-top-color: $yellow;
    border-bottom: none;
    margin-right: rem(10px);
  }
}

.team-acco__item {
  margin-bottom: rem(10px);

  &.active {
    .team-acco__content {
      height: auto;
      margin-left: rem(29px);
    }

    .team-acco__title {
      color: $yellow;
      font-family: 'Gagalin';
      
      &:before {
        transform: rotate(180deg);
      }
    }
  }
}

.team-acco__content {
  display: flex;
  overflow: hidden;
  height: 0;
}

.team-acco__occ {
  color: #fff;
  font-family: 'Ubuntu';
  font-size: rem(15px);
  font-weight: 900;
  font-style: normal;
  margin-bottom: rem(10px);
}

.team-acco__desc {
  margin-left: rem(16px);
  line-height: 1.4;
  margin-bottom: rem(29px);
}

.team-acco__desc-text {
  color: #fff;
  font-weight: 300;
  font-style: normal;
  font-size: rem(14px);
}

.team-acco__avatar {
  width: rem(100px);
  height: rem(100px);
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.team-acco__avatar-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}